@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
*{
    font-family: Franklin Gothic Book;
}
.form{
    width:50%;
    margin:50px 30px;
    border:1px solid black;
    border-radius:12px;
}
.header{
    text-align: left;
    margin:30px;
}
.mainfr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3%;
}
.mb-3 input{
    background-color:rgb(210, 237, 245);
    font-family: 'FontAwesome';
}
@media screen and (max-width: 552px) {
    .mainfr{
        margin-top: 20%;
    }
    .img{
        display: none;
    }
    .form{
        width: 100%;
        margin:30% 10px;
        font-size: 14px;
    }
    .form h1,h2,h3,h4,div,p,input{
        font-size: 12px;
    }


}