@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
*{
    font-family: Franklin Gothic Book;
}
.userform{
    width:40vw;
    margin:5vh 5vw;
    border:1px solid black;
    border-radius:12px;
    padding: 2vh 2vw;
}
.header{
    text-align: left;
    margin:5rem;
}
.mainfr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 10vw;
    margin-top: 3%;
}
.mb-3 input{
    background-color:rgb(210, 237, 245);
    font-family: 'FontAwesome';
}
@media screen and (max-width: 552px) {
    .mainfr{
        margin-top: 20%;
    }
    .img{
        display: none;
    }
    .userform{
        width: 100%;
        margin:5vh 10px;
        font-size: 14px;
    }
    .userform h1,h2,h3,h4,div,p,input{
        font-size: 12px;
    }


}